html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World!!!
        p I don't really have anything interesting...
        p 
          a.btn.btn-primary(href="https://news.ycombinator.com/") Hacker News
        p